<section>
  <!-- fxLayoutAlign receives first align of main and then cross axis -->
  <!-- <form fxLayout="column" fxLayoutAlign="center center"> -->
  <form class="signup-form" [formGroup]="signupForm" (ngSubmit)="onSignup()">
    <mat-form-field class="fullwidth">
      <input type="email" matInput placeholder="Your e-mail" formControlName="email">
      <mat-error *ngIf="signupForm.controls.email.hasError('email')">E-mail is invalid.</mat-error>
      <mat-error *ngIf="signupForm.controls.email.hasError('required')">E-mail must not be empty.</mat-error>
    </mat-form-field>
    <mat-form-field class="fullwidth">
        <input [type]="passwordHide ? 'password' : 'text'" matInput placeholder="Your password" formControlName="password">
        <mat-icon matSuffix (mousedown)="passwordHide = !passwordHide" (mouseup)="passwordHide = !passwordHide">{{ passwordHide ? 'visibility_off' : 'visibility' }}</mat-icon>
        <mat-hint align="end">
          {{ signupForm.controls['password'].value?.length || 0 }} / 6
        </mat-hint>
        <mat-hint>Password should be at least 6 characters long.</mat-hint>
        <mat-error>Password must be at least 6 characters long. {{ signupForm.controls['password'].value?.length || 0 }} / 6</mat-error>
    </mat-form-field>
    <div class="mass">
      <mat-form-field class="twothirds">
        <input type="number" matInput placeholder="Your weight" formControlName="weight">
        <mat-error *ngIf="signupForm.controls.weight.hasError('required')">Weight must not be empty.</mat-error>
        <mat-error *ngIf="signupForm.controls.weight.hasError('min')">Weight must be at least 30.</mat-error>
      </mat-form-field>
      <mat-form-field class="onethird">
        <mat-select placeholder="Units" formControlName="massUnits">
          <mat-option value="kg">Kg</mat-option>
          <mat-option value="lbs">Lbs</mat-option>
        </mat-select>
        <mat-error *ngIf="signupForm.controls.massUnits.hasError('required')">Select weight units.</mat-error>
      </mat-form-field>
    </div>
    <mat-form-field class="fullwidth">
      <input matInput [matDatepicker]="picker" [max]="maxDate" [min]="minDate" placeholder="Choose your birthdate" formControlName="birthdate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-hint>You must be at least 18 years old.</mat-hint>
    </mat-form-field>
    <mat-checkbox formControlName="agreement" color="primary">I consent DaTracker stores the provided information.</mat-checkbox>
    <button type="submit" mat-raised-button color="primary" [disabled]="!signupForm.valid" *ngIf="!(isLoading$ | async)">Submit</button>
    <mat-spinner diameter="24" *ngIf="isLoading$ | async"></mat-spinner>
  </form>
</section>
