@import '../global.variables';

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 1.9rem;

    section {
        padding: 1rem;
    }
}

// @media (min-width: $large-screen-start) {
//     .welcome {
//         flex-direction: row;
//     }
// }